@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.repay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  position: relative; 

  &__header {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
   

    img {
      cursor: pointer;
    }

    p {
      cursor: pointer;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    gap: 20px;
  }

  &__tittle {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;

    h1 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1rem;
    }
  }

  &__cardContainer {
    display: flex;
    justify-content: center;
    gap: 16px;
  
  }

  &__card {
    border: 2px solid rgb(204, 204, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 255px;
    height: 180px;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;

    h2 {
      color: $text-color-secundary;
      font-size: 1rem;
      font-weight: 800;
      margin-top: 10px;
    }

    img {
      max-width: 60px;
      height: auto;
    }
  }

  &__content {
    border: 2px solid rgb(204, 204, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    border-radius: 6px;
    padding: 10px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 8px;

    p {
      font-size: 1rem;
    }
  }

  &__number {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__req,
  &__review,
  &__approved,
  &__rejected {
    border: none;
    padding: 10px;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__req {
    background-color: $bg-btn-hover;
  }

  &__review {
    background-color: rgb(192, 115, 0);
  }

  &__approved {
    background-color: rgb(19, 145, 92);
  }

  &__rejected {
    background-color: rgb(255, 0, 0);
  }

  &__SystemAtt {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 800px;
    gap: 8px;
    margin-top: 10px;

    img {
      width: 1em;
      height: 1em;
    }

    p {
      font-size: 0.9rem;
      color: $text-color;
    }
  }

  @media (max-width: 800px) {
    &__container {
      padding: 15px;
    }

    &__tittle {
      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.9rem;
      }
    }

    &__cardContainer {
      gap: 12px;
    }

    &__card {
      width: 195px;
      

      h2 {
        font-size: 0.9rem;
      }

      img {
        max-width: 50px;
      }
    }

    &__content {
      width: 100%;
      gap: 10px;

      p {
        font-size: 0.8rem;
      }
    }

    &__req,
    &__review,
    &__approved,
    &__rejected {
      width: 30px;
      height: 30px;
    }
  }

  @media (max-width: 480px) {
    &__tittle {
      h1 {
        font-size: 1.3rem;
      }

      p {
        font-size: 0.85rem;
      }
    }

    &__content {
      width: 100%;
      padding: 10px;
    }

    &__info {
      flex-direction: column;
      width: 100%;
      text-align: center;
      padding: 6px;
    }
  }
}
